h2 {text-align: center;
color: black;
}
h1 {text-align: center;
border-style: solid;
color: green;
}
h2 {font-size: 30px;
}
#img1{width:37%;
margin-left: 30%;
border-color: blueviolet;
border: width 10px;}

h3{color: white;
font-size: 27px;}
body{background-color: aqua;}

#img2{width: 35%;
margin-left: 30%;
border-style: solid;
border-color: rgb(23, 23, 141);
border-width: 10px;}
